@using FightingFantasyCompanion.Shared.Models
@using FightingFantasyCompanion.Shared.Services
@using System.Text.Json
@inject IAdventureService adventureService
@inject IDialogService DialogService
@page "/"

<div>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateNewAdventure">New Adventure</MudButton>

    <MudContainer MaxWidth="MaxWidth.False" Class="mt-3">
        <MudGrid>
            @foreach (var adventure in _Adventures)
            {
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <AdventureListItem Adventure="adventure" />
                </MudItem>
            }
        </MudGrid>
    </MudContainer>
    <DiceRoller/>
</div>

@code {

    private List<Adventure> _Adventures = new List<Adventure>();

    protected override async Task OnInitializedAsync()
    {
        await RefreshAdventures();
    }

    private async Task RefreshAdventures()
    {
        _Adventures.Clear();
        _Adventures.AddRange(await adventureService.GetAll());
    }

    private async Task CreateNewAdventure()
    {
        Adventure adventure = adventureService.CreateAdventure();
        var parameters = new DialogParameters<NewAdventureDialog> { { x => x.adventure,adventure } };
        var dialog = await DialogService.ShowAsync<NewAdventureDialog>("",parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
            await RefreshAdventures();
    }
}