@page "/"

<div style="height: 2000px;">
    <h1>Hello, world!</h1>

    Welcome to your new app.

    <MudText typo="Typo.h6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, odio eget dapibus porta, sem augue volutpat libero, eget faucibus nisl neque eget velit. Fusce eget cursus nulla. Phasellus malesuada, metus id auctor tempus, augue quam accumsan justo, id scelerisque magna odio non nisl. Proin id orci quis mi volutpat auctor. Phasellus volutpat nisl eget semper laoreet. Vivamus consequat, arcu et interdum tincidunt, nisl nisi porttitor nibh, eget fringilla nibh orci in dui. Sed porta libero et nibh porttitor, ac feugiat velit volutpat. In hac habitasse platea dictumst. Sed consequat, eros ut auctor vestibulum, nisi neque consectetur magna, vel tincidunt quam nibh eget lectus.</MudText>
</div>